@import "@fontsource/open-sans/400";
@import "@fontsource/open-sans/700";

body {
    font-family: "Open Sans", sans-serif;
}

#ipython_notebook {
    padding-top: 3px;
}

.basthon-loader-root {
    background-color: #fff;
    box-shadow: 0px 0px 12px 1px rgba(87, 87, 87, 0.2);
}

.basthon-loader-spinner.basthon-loader-foot {
    box-sizing: unset;
}

.basthon-loader-text.basthon-loader-foot {
    font-size: 14px;
    color: #000;
}
