/*This file contains any manual css for this page that needs to override the global styles.
This is only required when different pages style the same element differently. This is just
a hack to deal with our current css styles and no new styling should be added in this file.*/

#ipython-main-app {
    position: relative;
}

.output_svg, .output_png, .output_html, .output_javascript.rendered_html {
    display: flex;
    justify-content: center;
}
