/**
 * Primary styles
 *
 * Author: Jupyter Development Team
 */


body {
    background-color: @body-bg;
    /* This makes sure that the body covers the entire window and needs to
       be in a different element than the display: box in wrapper below */
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    overflow: visible;
}

body > #header {
    /* Initially hidden to prevent FLOUC */
    display: none;
    background-color: @body-bg;

    /* Display over codemirror */
    position: relative;
    z-index: 100;

    #header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
        padding-bottom: 5px;
        padding-top: 5px;
        .border-box-sizing();
    }

    .header-bar {
        width: 100%;
        height: 1px;
        background: @navbar-default-border;
        margin-bottom: -1px;
    }

    @media print {
        display: none !important;
    }
}

#header-spacer {
    width: 100%;
    visibility: hidden;
    
    @media print {
        display: none;
    }
}

#ipython_notebook {
    padding-left: 0px;
    padding-top: (@navbar-height - @logo_height) / 2;
    padding-bottom: (@navbar-height - @logo_height) / 2;
    margin-right: auto;
}

[dir="rtl"] #ipython_notebook {
    margin-right: 10px;
    margin-left: 0;
}

[dir="rtl"] #ipython_notebook.pull-left {
     .pull-right();
}

.flex-spacer {
    flex: 1;
}

#noscript {
     width: auto;
     padding-top: 16px;
     padding-bottom: 16px;
     text-align: center;
     font-size: 22px;
     color: red;
     font-weight: bold;
}

#ipython_notebook img {
    height: @logo_height;
}

#site {
    width: 100%;
    display: none;
    .border-box-sizing();
    overflow: auto;
    @media print {
      // force auto-height on print (overrides manual resizing in live view)
      height: auto !important;
    }
}

/* Smaller buttons */
.ui-button .ui-button-text {
    padding: 0.2em 0.8em;
    font-size: 77%;
}

input.ui-button {
    padding: 0.3em 0.9em;
}

span#kernel_logo_widget {
    margin: 0 10px;
    margin-left: auto;
}

span#login_widget {
    float: right;
}

[dir="rtl"] span#login_widget {
    float: left;
}

span#login_widget > .button,
#logout, #shutdown
{
    .btn-default();
    margin-left: 10px;
}

.nav-header {
    text-transform: none;
}

#header > span {
  margin-top: 10px;
}

// class for stretching dialogs to fill the screen
.modal_stretch .modal-dialog {
    .vbox();
    min-height: 80vh;
    .modal-body {
        // ~"foo" is to avoid less turning this into a weird value
        max-height: calc(~"100vh - 200px");
        overflow: auto;
        flex: 1;
    }
}

.modal-header {
  cursor: move;
}

@media (min-width: @screen-sm-min) {
    .modal .modal-dialog {
        width: 700px;
    }
}

// less mixin to be sure to add the right class to get icons with font awesome.
.icon(@ico){
    .fa();
    content: @ico;
}

@media (min-width: @screen-sm-min) {
    select.form-control {
        margin-left: @padding-base-horizontal;
        margin-right: @padding-base-horizontal;
    }
}

/* rtl fixes for the error, connecting, and renaming window */

[dir="rtl"] .modal-footer {
    text-align : left !important;
}

[dir="rtl"] .close {
    float : left;
}

[dir="rtl"] .fa-step-forward::before {
    content: "\f048";
}
